/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 110%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer{
  background-color: #1770af;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
  line-height: 30px; /* Vertically center the text there */
  text-align: center;

}

.dark-gray{
background-color: #232323;

}

footer > div{
  background-color: inherit;
}


.footer .footer-copyright{

    font-family:'Cabin', sans-serif;
	padding-top:3px;
	padding-bottom:3px;
	text-align: center;
}

.footer-copyright p{

	color:white;
}



footer .social-networks{
	text-align: center;
  margin-top:20px;
}

footer .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: white;
    padding: 10px;
    transition: 0.2s;
}

footer.dark-gray p, footer.dark-gray  a{
  color:white;
}

.social-networks a:hover{
	text-decoration: none;
  }

/**
}

.facebook:hover{
	color:#0077e2;
}

.twitter:hover{
	color: #a4caa7;
}

footer .soundcloud:hover{
	color: #a4caa7;
}
.linkedin:hover{
	color: #a4caa7;
}

.medium:hover{
	color: #a4caa7;
}
