body{
font-family: 'Lato', sans-serif;

}



 #betwixt::after {
  content: "";
  background: url("../assets/triangulated-image.svg");
  background-size: cover;
  background-position: center;
  /*opacity: 0.9;*/
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;

}

#triangles::after{
content: "";
  background: url("../assets/trianglesfade.svg");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;

}


.white-gradient{

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+25,ffffff+85,ffffff+99&0+0,1+10,1+90,0+99 */
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 85%, rgba(255,255,255,1) 90%, rgba(255,255,255,0) 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 85%,rgba(255,255,255,1) 90%,rgba(255,255,255,0) 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 85%,rgba(255,255,255,1) 90%,rgba(255,255,255,0) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
padding: 1em;

}
.bg-light{
  background-color: #bbe4bd!important;
}
/*.light-gray{
  background-color: #e8e8e8!important;
}*/

.nav-item .nav-link{
font-size:0.9rem;
  text-transform: uppercase;
  font-family: 'Cabin', sans-serif;
}

h1, h2, .navbar-brand, .serif{

  font-family: 'Sorts Mill Goudy', serif;
}

h1.home{
  color:white;
  margin:1em 1em 1em 1em;
  font-size:3em;
  font-weight: 500;
  /*text-shadow: 1px 1px 1px #424242;*/

}

div.col: first-of-type > h1.home{
  margin: 2em 1em 1em 1em;
}

/*.home a{
    background-color: #bbe4bd;
    padding: 3px;
}*/

h1 > a{
  color:white;
  padding:5px;
}

h1 > a:hover{

  color: #8c8c8c;
  text-decoration: none;
  */text-shadow: 1px 1px 1px #424242;*/
}

h2{
font-size: 1.5rem;

}

p.serif{
  font-size:1.1rem;
}


a{
  color:#1095bf;
}

/*.underline {
  border-bottom: 2px solid currentColor;
  padding-bottom: 5px;
}*/

#intro{
  text-align:center;
  margin-top:2rem;
}

.gradient-color-1{
  background-color:#a4caa7;
}

.gradient-color-2{
  background-color:#74b4b0;
}

.gradient-color-3{
  background-color:#5d838d;
}

.gradient-color-4{
  background-color:#235a7c;
}

.img-thumbnail{

  /*max-width:300px;*/
  /*margin:0.5em;*/
  margin-bottom:1rem;
}

.no-padding-left{
  padding-left:0;
}

.caption{

  font-size:0.7rem;
  margin-left:0.5rem;
  color:darkgray;
  font-style: italic;
}
/*.container{
  margin-top:3em;
}*/

.row{
  margin-top:2em;
}



@media screen and (max-width: 767px){

  h1.home{
  margin:1em 0.5em 0.5em 0.5em;

  }
}

@media screen and (max-width: 400px){

  h1.home{
  margin:1em 0em 0.5em 0em;
font-size:2.5em;

  }
  h1.home:last-of-type{
    margin-bottom:1.5em;
  }

  h2{
    text-align: center;
  }

  #triangles::after{
  content: "";
    background: url();
}
